<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright {{ now.Format "2006"}} <i class="fa fa-heart" aria-hidden="true"></i> {{ .Site.Params.Author }}
    {{ end }}
    </p>
    <p class="small">
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <span id="busuanzi_container_site_pv">本站总访问量 <a id="busuanzi_value_site_pv"></a> 次</span>
        <span>您是本站的第 <a id="busuanzi_value_site_uv"></a> 位访客</span>
    </p>
    <p class="small">
        <span>友情链接：</span><a target="_blank" href="http://blog.we66.club/">blog-xmy</a>
    </p>
    <p class="small"><a href="http://beian.miit.gov.cn/publish/query/indexFirst.action" target="_blank">苏ICP备18046444号-1</a></p>
</footer>