{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}
{{ partial "profile.html" . }}

<section id="wrapper" class="home">
    {{ .Content }}

    <figure><embed src="https://wakatime.com/share/@db6c97b7-a19e-496c-a656-531e8f16d99d/7d3810c0-0cb9-48ae-ac58-a5b67ee2c2ec.svg"></embed></figure>
    {{ if .Site.Params.enableDisqus }}
        {{ if ne .Params.disabledisqus "true" }}
            {{ partial "disqus.html" . }}
        {{ end }}
    {{ end }}

    {{ partial "footer.html" . }}
</section>

{{ partial "js.html" . }}
</body>
